Rejection of bundles with `ipn:0.<nonzero>` EIDs

### Summary

**bp7-rs** rejects a bundle whose **report-to** EID is `ipn:0.1`. Under **RFC 9171** and **CCSDS 734.20-O-1** this EID is not explicitly prohibited, so rejection isn’t required. Under the newer **RFC 9758** (updates the ipn scheme), `ipn:0.*` with a non-zero service is *invalid*, but even then the spec says BPA's **MUST treat it as the Null ipn URI**, not reject. Accepting (or coercing) is therefore preferred over rejecting.

### Details

Test case (hex):

```
9f88070000820282020182028201018202820001821b00ff00bb0e20b4ea001a000927c08507020100410085010100004d48656c6f2c20576f726c642142ff
```

Behavior observed in **bp7-rs**:

```
[bp7-rs] ERROR:
thread 'main' panicked at src/main.rs:111:43:
Error decoding bundle!: CborDecodeError(ErrorImpl { code: Message("invalid value: struct variant, expected EndpointID"), offset: 0 })
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
```

Other implementations:

```
[ESA_BP] OK:
Decoded bundle: esa.egos.bp.protocol.coding.api.bundle.BundleBpv7@3e681bc

[ION-DTN] OK:
valid

[ud3tn_v0.14.2] OK:
BPv7 bundle
  - source:       ipn:1.1
  - destination:  ipn:2.1
  - report to:    ipn:0.1
  - creation ts.: 71776922457126122
  - sequence no.: 0
  - expires at:   71776922457726
  - payload len.: 13
  - proc. flags:  0x0000
  - block no. 2 of type = 7 (bundle age block)
  - flags:  0x0001
  - length: 1
  - block no. 1 of type = 1 (payload block)
  - flags:  0x0000
  - length: 13
```

### Specifications

* **RFC 9171 / CCSDS 734.20-O-1:** No explicit ban on node number **0**  and a non-zero service number. Thus, `ipn:0.1` looks valid according to the spec.

* **RFC 9758 Section 3.4.1 (updates the ipn scheme):** states:
  “Any ipn URI with a zero (0) Allocator Identifier and a zero (0) Node Number, but a non-zero Service Number component, is **invalid**. Such ipn URIs **MUST NOT** be composed, and processors of such ipn URIs **MUST** consider them as the **Null ipn URI**.” Thus, the action should be **treat as Null (`ipn:0.0`)**, rather than rejecting the bundle.

### Suggested fix

Log a warning for ipn URI with a zero Node Number but non-zero service-number. Do not reject the bundle, but instead treat it as `ipn:0.0` (as stated in RFC 9758)

