Incorrect error message in Payload Block block number check

The Payload Block validation logic currently checks if the block number is not 1, from `canonical.rs`:

```rust
if self.block_number != 1 {
    return Err(Error::CanonicalBlockError(
        "Payload Block's block number is not zero".to_string(),
    ));
}
```
However, the error message incorrectly states "not zero", even though the logic and standard expect a 1: 

From RFC 9171 Section 4.1:
>The block number of the payload block is always 1. 

Suggested fix to update the message to simply say "not one".