Parser accepts invalid block ordering

### Parser accepts bundles where the **payload block is not the final canonical block**

**Summary**

`bp7-rs` successfully decodes bundles whose **payload block is *not* the last canonical block**, contrary to RFC 9171 (§ 4.1) and without warning. Acceptance of these bundles is not conformant with the current standard and may hide data-integrity errors. 

---

#### Reference

> “The **last** canonical block **MUST** be a payload block; the bundle **MUST** have exactly one payload block.” — RFC 9171 § 4.1

![Image](https://github.com/user-attachments/assets/42c85fab-88e7-4303-9597-a763e137d68b)

---

#### Example

Below is the hex representation of a valid BPv7 bundle that has the payload block as the second-to-last bundle, followed by a Bundle Age canonical block.

```text
9f89071844018202820301820100820100821b000000b5998c982b011a000493e042c9f68506021000458202820200850101010044544553548507040100421834ff
```

`bp7-rs decode` output (excerpt):

```text
...
            ),
        },
        CanonicalBlock {
            block_type: 1,
            block_number: 1,
            block_control_flags: 1,
            crc: CrcNo,
            data: Data(
                [
                    84,
                    69,
                    83,
                    84,
                ],
            ),
        },
        CanonicalBlock {
            block_type: 7,
            block_number: 4,
            block_control_flags: 1,
            crc: CrcNo,
            data: BundleAge(
                52,
            ),
        },
    ],
}
```

No error or warning is produced even though the payload block is followed by another canonical block.


